<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload KML and Generate Grids</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css">
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.measure.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/L.switchBasemap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <h2>Quick Drone Flight Grid Generator</h2>
        <p>Designed for drone pilots with no GIS knowledge required. Simply upload your KML file and generate tailored
            grids for your drone routes in just a few clicks.
        </p>

    </header>

    <main class="main-body flex-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            {% if kml_files %}
            <form action="{{ url_for('reset') }}" method="get">
                <button type="submit">Reset</button>
            </form>
            {% endif %}

            {% if success_message %}
            <p>{{ success_message }}</p>
            {% endif %}

            <form id="uploadForm" method="post" enctype="multipart/form-data" action="/">
                <label for="kml_file">KML File:</label>
                <input type="file" name="kml_file" id="kml_file" required>

                <label for="grid_width">Grid Width (m):</label>
                <input type="number" name="grid_width" id="grid_width" value="{{ grid_width }}" required>

                <label for="grid_height">Grid Height (m):</label>
                <input type="number" name="grid_height" id="grid_height" value="{{ grid_height }}" required>

                <label for="buffer_size">Buffer Size (m):</label>
                <input type="number" name="buffer_size" id="buffer_size" value="{{ buffer_size }}" required>

                <label for="grid_prefix">Grid Prefix:</label>
                <input type="text" name="grid_prefix" id="grid_prefix" value="{{ grid_prefix }}" required>

                <button type="submit" id="uploadBtn">Generate Grid Files</button>
                <button id="saveBtn">Save Polygon</button>
            </form>

            <button id="show-layers-btn" style="display:none;">Show Layers in the Map</button>

            {% if kml_files %}
            <hr>
            <p>Downloads (GeoJSON):</p>
            <ul>
                <li><a href="{{ url_for('download_input_geojson') }}">1. Input Grid</a></li>
                <li><a href="{{ url_for('download_intersect_geojson') }}">2. Grid (Without Buffer)</a></li>
                <li><a href="{{ url_for('download_buffer_geojson') }}">3. Final Grid (With Buffer)</a></li>
                <li><a href="{{ url_for('download_all') }}">4. Download All Grids as ZIP</a></li>
            </ul>
            {% endif %}
        </aside>

        <!-- Map -->
        <section id="map"></section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 All rights reserved by <a href="https://www.linkedin.com/in/m-mashrur-zaman-7b3abb155/">M.
                Mashrur Zaman</a> (GIS Developer & 3D Visualizer) <a href="mailto:your-email@gmail.com" title="Email"
                style="text-decoration: none; margin: 0 10px;">
                <i class="fas fa-regular fa-envelope" style="color: #cd3a2f; font-size: small;" aria-hidden="true"></i>
            </a>
            <a href="https://wa.me/+8801762672809" title="WhatsApp" style="text-decoration: none; margin: 0 10px;">
                <i class="fab fa-whatsapp" style="color: #25D366; font-size: small;" aria-hidden="true"></i>
            </a>
        </p>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.1/proj4leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
    <script src="{{ url_for('static', filename='js/leaflet.measure.js') }}"></script>
    <script src="{{ url_for('static', filename='js/L.switchBasemap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>